@tailwind base;

@tailwind components;

@tailwind utilities;

.landing {
  animation: slide-fade 1s;
}

.landing-page {
  height: calc(100vh - 100px);
}

.app {
  position: relative;
}

.app-main {
  flex-basis: calc(100vh - 8rem);
  flex-grow: 1;
  flex-shrink: 0;
}

.app::after {
  content: "";
  background-image: url("./images/landing_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.step-next {
  position: relative;
  animation: slide-next 0.5s;
}

.step-prev {
  position: relative;
  animation: slide-prev 0.5s;
}

.table-col {
  max-width: 150px;
}

.mobile-menu {
  animation: slide-next 0.5s;
}

.mobile-menu.hide {
  animation: slide-out 0.5s;
}

.line-break {
  flex-basis: 100%;
  height: 0;
}

@keyframes slide-next {
  0% {
    opacity: 0;
    left: 600px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 600px;
  }
}

@keyframes slide-prev {
  0% {
    opacity: 0;
    right: 600px;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes slide-fade {
  0% {
    opacity: 0;
    margin-top: 25px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes slide-down {
  0% {
    top: -500px;
  }
  100% {
    position: relative;
    top: 0;
  }
}
